html {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    background-image: url("background.jpg");
    background-size: cover;
    font-family: 'Crimson Pro', serif;
    font-size: 25px;
}

:root {
    --magin-sides: 15%;
    --apple-green: #4CAF50;
    --pale-green: #8dcf8d;
}

body {
    background-color: rgb(241, 241, 241);
}

h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 35px;
}

h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: var(--magin-sides);
    font-weight: bold;
    text-align: left;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 35px;
}

p,
li {
    font-size: 25px;
    font-weight: 300;
    text-align: left;
    line-height: 150%;
    margin-left: var(--magin-sides);
    margin-right: var(--magin-sides);
}

li {
    margin-left: calc(var(--magin-sides) + 2%);
}

img {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 300px;
    height: 300px;
    /* border: 1px solid #000; */
}

.center-pre {
    position: absolute;
    margin: auto;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

.center-peri {
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Canvas */
.flexbox {
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-item {
    margin: 5%;
    min-height: 100px;
}

label {
    margin: 20px;
}


/* Progress Bar */
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 3px;
    /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2); */
}

.progress-bar-fill {
    display: block;
    height: 5px;
    background-color: var(--apple-green);
    border-radius: 3px;

    transition: width 500ms ease-in-out;
}


/* Buttons */
.buttonG {
    background-color: var(--apple-green);
    /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.buttonG:hover {
    background-color: var(--pale-green);
}

.buttonN {
    background-color: #a3a3a3;
    /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.buttonN:hover {
    background-color: #c5c5c5;
}


/* Tooltip Box */
#tooltip {
    height: 20px;
    width: 15px;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin: 10px 10px;
    color: white;
    background: rgba(0, 0, 0, .2);
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    /* box-shadow: 2px 2px 0px rgba(0, 0, 0, .25); */
}

#tooltip:before {
    content: attr(data-description);
    box-sizing: border-box;
    display: block;
    color: white;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    position: absolute;
    right: 105%;
    top: -5px;
    width: 370px;
    height: 90px;
    line-height: 25px;
    border-radius: 10px;
    opacity: 0;
    transition: .25s ease-in-out;
}

#tooltip:after {
    content: '';
    display: block;
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -8px;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transition: .25s ease-in-out;
    opacity: 0;
}

#tooltip:hover:before {
    opacity: 1;
    right: 60px;
    top: -50px
}

/* The slider */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
}

#container>div {
    /* height: 50px; */
    border: 2px dashed red;
}

.slidecontainer {
    /* display: flex;
    justify-content: center; */
    width: 600px;
}

.slider {
    /* -webkit-appearance: none; */
    /* appearance: none; */

    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#explanation {
    height: 1 px;
    margin: 5px;
    text-align: center;
}

#stopper {

    height: 100px;
    transition: opacity 1s;
}

/* visual aids */

.axis {
    position: absolute;
}

.cross-axis {
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 100%;
    background-color: blue;
}

.main-axis {
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
    background-color: red;
}

.axis::after {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 2em;
}

.main-axis::after {
    position: absolute;
    content: 'Main Axis';
    color: red;
}

.cross-axis::after {
    white-space: nowrap;
    content: 'Cross Axis';
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: blue;
}