html {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    background-image: url("background.jpg");
    background-size: cover;
    font-family: 'Crimson Pro', serif;
    font-size: 25px;
}

:root {
    --magin-sides: 15%
}

body {
    background-color: rgb(241, 241, 241);
}

h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 35px;
}

h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: var(--magin-sides);
    font-weight: bold;
    text-align: left;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 35px;
}

p,
li {
    font-size: 25px;
    font-weight: 300;
    text-align: left;
    line-height: 150%;
    margin-left: var(--magin-sides);
    margin-right: var(--magin-sides);
}

li {
    margin-left: calc(var(--magin-sides) + 2%);
}

img {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 300px;
    height: 300px;
    /* border: 1px solid #000; */
}

.center-pre {
    position: absolute;
    margin: auto;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

.center-peri {
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Canvas */
.flexbox {
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-item {
    margin: 5%;
    min-height: 100px;
}

label {
    margin: 20px;
}

/* Buttons */
.buttonG {
    background-color: #4CAF50;
    /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.buttonG:hover {
    background-color: #8dcf8d;
}

.buttonN {
    background-color: #a3a3a3;
    /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.buttonN:hover {
    background-color: #c5c5c5;
}


/* The slider */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
}

#container>div {
    /* height: 50px; */
    border: 2px dashed red;
}

.slidecontainer {
    width: 800px;
}

.slider {
    /* -webkit-appearance: none; */
    /* appearance: none; */
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
    -webkit-transition: .2s;
    transition: opacity .2s;
}


#explanation {
    height: 1 px;
    margin: 5px;
    text-align: center;
}

/* visual aids */

.axis {
    position: absolute;
}

.cross-axis {
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 100%;
    background-color: blue;
}

.main-axis {
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
    background-color: red;
}

.axis::after {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 2em;
}

.main-axis::after {
    position: absolute;
    content: 'Main Axis';
    color: red;
}

.cross-axis::after {
    white-space: nowrap;
    content: 'Cross Axis';
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: blue;
}