img.adaptive {
  width: 96%;
  margin: 2% 2% 2% 2%;
  /* border: 2px solid #000; */
}



#canvas td {
  width: 20px !important;
  height: 20px !important;
  border: 0px solid rgb(180, 180, 180);
  background-color: #d4d2d2;
  /* box-shadow: 2px 2px 0px 0px gray inset; */
}

p {
  font-family: 'Crimson Pro', serif;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  line-height: 26px;
}

li {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  line-height: 28px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  line-height: 35px;
}